<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="/static/css/login.css" rel='stylesheet' type="text/css">
 <style>
     .center-block {
            display: flex;
            justify-content: center; /* 水平居中 */
            align-items: center; /* 垂直居中 */
            height: 200px; /* 假设你想要全屏高度 */
        }
      .center-block2 {
            height: 0px; /* 容器的高度 */
            line-height: 50px; /* 与容器高度相同的行高 */
            text-align: center; /* 水平居中 */
            font-size:50px
        }
    </style>
</head>
<body>
<h1 class="center-block2">Welcome to movie ticket sales</h1>
<div class="center-block">
    <a href="http://192.168.154.137:8000/accounts/login"><font color="red" size="50px">欢迎登录</font></a>
</div>
</body>
</html>